<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>profile_test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18C81AB21D9BE2120000E283</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18C81AC61D9BE2120000E283</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18C81AD11D9BE2120000E283</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
